node_modules
Makefile
Makefile.in
aclocal.m4
autom4te.cache
build-aux
compile
config.*
configure
install-sh
missing
.idea/
dist/

common/**/*.png
!common/gtk-3.0/tumbnail.png
!common/gtk-3.0/tumbnail-dark.png
!common/metacity-1/tumbnail.png
!common/metacity-1/tumbnail-dark.png